<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<style>
		html,
		body {
			font-size: 14px;
			font-family: Times New Roman;
		}
	</style>
</head>
<body>
	<div style="text-align: center; padding: 12px 60px 0px 60px">
		<span style="text-align: center; font-weight: bold; font-size: 22px;">
			This is the header of your report
		</span><br>
		<span style="text-align: center; font-weight: bold; font-size: 18px;">
			with some detail of header
		</span><br>
		<span style="text-align: center; font-weight: bold;">
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit.<br>
			Aenean commodo ligula eget dolor. Aenean massa.<br>
			Tel : 01 2345 6789 - Mail : keepcalm@gmail.com<br>
		</span>
		<span style="text-align: center;">
			Cum sociis natoque penatibus et magnis dis parturient montes,
			nascetur ridiculus mus. Donec quam felis, ultricies nec,
			pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
		</span>
		<hr>
	</div>
</body>
</html>